.place__title {
    width: 460px;
    height: 152px;
    margin: 0;
    margin-top: ;
    margin-left: 148px;
    font-family: 'Inter';
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    color: #FFFFFF;
}