.photo-grid {
    padding: 0;
    margin: auto;
    margin-top: 92px;
    width: calc(100% - 96px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}