.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 984px;
    margin-top: 56px;
    margin-left: 148px;
    margin-right: 148px;
    padding: 0;
    outline: red solid 2px;
}