.photo-grid__item {
  width: 100%;
  height:100%;
  max-width: 284px;
  max-height: 213px;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 4 / 3;
}

@media screen and (max-width: 1200px) {
  .photo-grid__item {
    max-width: 260px;
    max-height: 195px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid__item {
    max-width: 300px;
    max-height: 225px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid__item {
    max-width: 352px;
    min-height: 264px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__item {
    min-height: 0;
    max-width: 288px;
    max-height: 216px;
  }
}
