.header {
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 28px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .header {
    max-width: 956px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 92%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin-top: 16px;
  }
}
