.header {
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 28px;
  font-family: "Inter";
  display: flex;
  justify-content: space-between;
  outline: 2px red solid;
}

@media screen and (max-width: 1200px) {
  .header {
    max-width: 956px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 90.6%;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 90.6%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 93.8%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 92%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 92%;
    margin-top: 16px;
  }
}
