.place__text {
  grid-area: text;
  margin: 0;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 768px) {
  .place__text {
    gap: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__text {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    gap: 25px;
    margin-top: 0;
  }
}
