.lead__image {
    max-width: 984px;
    width: 100%;
    height: 615px;
    margin: 0;
    margin-top: 64px;
    margin-left: 148px;
    margin-right: 148px;
    outline: red solid 2px;
}
@media screen and (max-width: 1024px) {
    .lead__image {
        width: 928px;
        height: 94.3%;
        margin-top: 56px;
        margin-left: 48px;
        margin-right: 48px;
        outline: 2px solid red;
    }
} 