.cover__text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  color: #ffffff;
  position: relative;
}

@media screen and (max-width: 320px) {
  .cover__text {
    gap: 16px;
  }
}
