.lead__subtitle {
        min-width: 640px;
        height: 72px;
        margin: 0;
        margin-top: 32px;
        margin-left: 320px;
        margin-right: 320px;
        font-family: 'Inter', Arial, sans-serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        outline: red solid 2px;
}

@media screen and (max-width: 1024px) {
        .lead__subtitle {
            margin-left: 192px;
            margin-right: 192px;
            outline: 2px solid red;
        }
    } 

    @media screen and (max-width: 768px) {
        .lead__subtitle {
            margin-left: 64px;
            margin-right: 64px;
            outline: 2px solid red;
        }
    }