.cover {
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    padding: 0;
    margin-top: 92px;
    position: relative;
    background-position: center;
    outline: 2px red solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background: #2A2C2F;
    z-index: -1;
}

.cover :hover {
    opacity: .8;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
        outline: 2px solid red;
    }
} 

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
        margin-top: 90px;
        outline: 2px solid red;
    }
} 