.lead__caption {
    width: 158px;
    height: 14px;
    margin: 0;
    margin-top: 8px;
    font-family: 'Inter';
    font-size: 10px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    white-space: nowrap;
    align-self: start;
    outline: red solid 2px;
}