.cover__title {
  max-width: 560px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 106%;
  text-align: center;
  color: #ffffff;
  position: relative;
  outline: 2px red solid;
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    outline: 2px solid red;
  }
}
