.cover__title {
    position: absolute;
    width: 560px;
    height: 152px;
    margin: 0;
    margin-top: 245px;
    margin-left: 360px;
    margin-right: 360px;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 106%;
    text-align: center;
    color: #FFFFFF;
    outline: 2px red solid;
}