.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title website"
    "image text";
    column-gap: 40px;
    max-width: 984px;
    width: calc(100% - 296px);
    height: 660px;
    margin: auto;
    padding: 0;
    margin-top: 92px;
    margin-bottom: 80px;
    outline: 2px solid red;
}