.place {
  max-width: 984px;
  display: grid;
  grid-template-areas:
    "title website"
    "image text";
  grid-template-columns: 460px 1fr;
  column-gap: 40px;
  margin: 0 148px 80px;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .place {
    max-width: 956px;
    margin: 0 auto 80px;
    grid-template-columns: 445px 1fr;
    column-gap: 34px;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    margin-left: 48px;
    margin-right: 48px;
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    max-width: 96%;
    margin: 0 auto 80px;
    grid-template-columns: 380px 1fr;
    column-gap: 30px;
  }
}

@media screen and (max-width: 900px) {
  .place {
    max-width: 96.2%;
    margin: 0 auto 75px;
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 71px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    max-width: 767px;
    margin: 0 auto 48px;
    grid-template-columns: 288px 1fr;
    column-gap: 18px;
  }
}

@media screen and (max-width: 620px) {
  .place {
    max-width: 620px;
    margin: 0;
    margin-left: 0;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "website"
      "image"
      "text";
    row-gap: 32px;
    margin-bottom: 48px;
  }
}
