.place {
    max-width: 984px;
    display: grid;
    grid-template-areas:
    "title website"
    "image text";
    column-gap: 40px;
    grid-template-columns: 460px 1fr;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
    margin-left: 148px;
    outline: 2px solid red;
}