.footer {
  max-width: 1184px;
  margin: 92px 48px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 18px;
}

@media screen and (max-width: 1200px) {
  .footer {
    max-width: 956px;
    margin: 92px auto 24px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width: 620px) {
  .footer {
    width: 58%;
    margin: 64px 118px 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 186px;
  }
}
