.header__lang-link {
    width: 30px;
    height: 28px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: underline;
    text-align: center;
    color: #FFFFFF;
    outline: 2px solid red;
}