.intro__title {
    width: 690px;
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 54px;
    font-weight: 900;
    line-height: 107%;
    color: #FFFFFF;
    outline: 2px solid red;
}

@media screen and (max-width: 768px) {
    .intro__title {
        width: 720px;
        outline: 2px solid red;
    }
} 